body {
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.pokemon-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 0.5rem;
  overflow: hidden; /* Membuat gambar tidak keluar dari batas kartu */
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
  max-height: 150px; /* Menyesuaikan tinggi gambar di kartu */
  object-fit: cover; /* Memastikan gambar tidak pecah */
}

.pokemon-title {
  color: #007bff;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: capitalize;
}

.pokemon-stats p {
  font-size: 0.9rem;
  margin: 0;
}

.pokemon-stats .progress {
  margin-bottom: 0.5rem;
}

.pokemon-abilities, .pokemon-types {
  font-size: 0.9rem;
  margin: 0;
}

.pokemon-evolution {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
}

.form-control {
  border-radius: 0;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ced4da;
}

button {
  border-radius: 0;
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0056b3;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.modal-body p {
  margin: 0.5rem 0;
}

.modal-body .img-fluid {
  max-width: 200px; /* Menyesuaikan ukuran gambar di modal */
  margin-bottom: 1rem;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-footer button {
  margin: 0;
}
